<div id="footerlayout" class="container-fluid">
    <div class="wrapper container">
        <div class="content row">
            <div class="col-lg-3">
                <h3>Quick Link</h3>
                <ul>
                    <li style="border: none;"><a ID="home" routerLink="/angular/index" runat="server" >Home</a></li>
                    <li><a ID="HyperLink1" runat="server" routerLink="/angular/payroll/index"  >Payroll Management System</a></li>
                    <li><a ID="HyperLink2" runat="server" routerLink="/angular/manage-account/" >Managing Account</a></li>
                    <li><a ID="HyperLink3" runat="server" routerLink="/angular/hrm" >Human Resource Mangement</a></li>
                    <li><a ID="HyperLink4" runat="server" routerLink="/angular/sale-order-management/" >Sales Ordering Services</a></li>
                  
                </ul>
            </div>

            <div class="col-lg-3">
                 <h3>Services</h3>
                <ul>
                    <li style="border: none;"><a ID="HyperLink9" routerLink="/angular/index" runat="server" >Home</a></li>
                    <li><a ID="HyperLink10" runat="server" routerLink="/angular/payroll/index"  >Payroll Management System</a></li>
                    <li><a ID="HyperLink11" runat="server" routerLink="/angular/manage-account">Managing Account</a></li>
                    <li><a ID="HyperLink12" runat="server" routerLink="/angular/hrm">Human Resource Mangement</a></li>
                    <li><a ID="HyperLink13" runat="server" routerLink="/angular/sale-order-management">Sales Ordering Services</a></li>
                  
                </ul>
            </div>

            <div class="col-lg-3">
                 <h3>Policy Statements</h3>
                <ul>
                      <li><a ID="HyperLink19" runat="server" (click)="privacy()">Privacy Policy</a></li>
                      <li><a ID="HyperLink5" runat="server" (click)="terms()">Terms of Service</a></li>
           
                </ul>
            </div>

            <div class="col-lg-3">
                <h3>Contact Us</h3>
                <p>
                    B-297, Mellcon Engineers Pvt. Ltd., Okhla Industrial Area Phase-1, New Delhi-110020, INDIA<br />
                    <strong>Ph. no. :</strong>
                        <a href="tel:+919582098984">9582098984</a><br />
                    <strong>Email(s):</strong>
                    <a href="mailto:sales12@tendernews.com">sales12&#64;tendernews.com</a>
                </p>
                <div>
                    <ul class="socialMedia">
                        <li><a href="#" class="icon"> <img ID="logo" runat="server" srcset="images/facebook-icon.png" Height="20" AlternateText="facebook"/></a></li>
                        <li><a href="#" class="icon"> <img ID="Image1" runat="server" srcset="images/twitter-icon.png" Height="20" AlternateText="twitter"/></a></li>
                        <li><a href="#" class="icon"> <img ID="Image2" runat="server" srcset="images/rss-icon.png" Height="20" AlternateText="rss"/></a></li>
                        <li><a href="#" class="icon"> <img ID="Image3" runat="server" srcset="images/linkedin-icon.png" Height="20" AlternateText="linkedin"/></a></li>
                        <li><a href="#" class="icon"> <img ID="Image4" runat="server" srcset="images/youtube-icon.png" Height="20" AlternateText="youtube"/></a></li>
                        
                    </ul>
                 
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="background:#406f04;color:#fff;padding:8px 0;float:left;width:100%;">
    <div class="container">
        <div class="row">
            <div class="text-center">
                Copyright &copy; 2025 projexerp.com. All Right Reserved.
            </div>
        </div>
    </div>
</div>
