  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" style="margin: 0 10px; height:auto;">
           
             <div class="carousel-inner" role="listbox" style="width:100%; ">
                 
                 <div class="projex-content"></div>
                
                 <div class="banner-content">
                      <h2 style="color:white">ProjexERP</h2>
                            <h3 style="color:#c2c2c2 ">ProjexERP serves as the digital backbone of your business, integrating operations, departments, and data into a single, streamlined system.</h3>
                           
                 </div>
                   
                 </div>
            </div>
             <div class="container-fluid">
            <div class="container">
                <div class="row ">
                    <h2 class="text-center">Advantages Of ERP Software For Your Business
                        
                    </h2>
                    <div class="col-lg-6 boxes-card ">
                        <div class="box-card" #scrollBox>
                            <h4>Improved Collaboration & Workflow Efficiency</h4>
                            <p>
                                 ERP connects departments, suppliers, and customers in a centralized system, enhancing communication and automating workflows.

                            </p>
                        </div>
                        <div class="box-card" #scrollBox>
                            <h4>Centralized & Real-Time Data Access
                            </h4>
                            <p>
                                A single source of truth improves data accuracy, transparency, and supports faster, informed decisions.

                            </p>
                        </div>
                        <div class="box-card" #scrollBox>
                            <h4>Cost Control & Profitability</h4>
                            <p>
                                 ERP identifies inefficiencies, optimizes resources, and reduces operational costs to boost profits.

                            </p>
                        </div>
                        <div class="box-card" #scrollBox>
                            <h4>Enhanced Inventory & Supply Chain Management
</h4>
                            <p>
                                 Real-time inventory tracking lowers stock excess, reduces storage costs, and streamlines logistics.
                            </p>
                        </div>
                          <div class="box-card" #scrollBox>
                            <h4>Financial Management & Compliance

</h4>
                            <p>
                                 ERP ensures accurate accounting, tax reporting, and regulatory compliance with powerful financial tools.
                            </p>
                        </div>
                          <div class="box-card" #scrollBox>
                            <h4>Human Resource Management (HRM)

</h4>
                            <p>
                                  Manages payroll, attendance, performance, and talent development to increase workforce productivity.

                            </p>
                        </div>
                    </div>
                    </div>
                </div>
             </div>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                     <h2 class="fadeInUpBig" style="text-align:center">Benefits of ERP</h2>
                    <div class="container benifit-div" style="/*margin: 30px auto;*/ display:flex;">
                       
                       
                        <div class="col-lg-7 text-center " >
                         
                            <h3>Boost Operational Efficiency</h3>
                            <p>Optimize and automate business workflows to empower your team to achieve more with less effort, driving productivity across the board.</p>

                            <h3>Instant Insights</h3>
                            <p>Generate fast, accurate reports with ease—providing real-time business and financial insights to support smarter decision-making.</p>



                           
                        </div>
                        <div class="col-lg-7 text-center">
                             <h3>Enhanced Business Control</h3>
                            <p>Access your ERP from anywhere with robust user management, ensuring compliance, and minimizing risk with predictive analytics.</p>

                            <div class="clear d-flex justify-content-center">
                                <a (click)="registration()" class="banner-btn">Free Trial</a>
                                <a href="erp/index#knowMore" class="banner-btn">Know More</a>
                            </div>
                        </div>
                    </div>
                </div>
       </div>

        <div id="contentlayout" class="container-fluid" style="background: #f1f1f1;">
            <!--navlayout-->
            <div class="wrapper container">
                <div class="maincontent row">
                    <div class="mainpart">
                        <h1>ProjexERP</h1>
                    </div>
                    <div class="col-lg-12 boxes" style="margin-bottom: 50px;">
                        <div class="box">
                            <a href="payroll/" target="_blank">
                                <img srcset="images/payroll-img.jpg" alt="Pay Roll System" />
                            </a>
                            <div class="detail">
                                <img srcset="images/payroll-icon.png" alt="payroll" />
                                <h4>Efficient Payroll Management</h4>
                                <p>
                                    Whether you have a small team or a large workforce, ProjexERP provides a streamlined payroll system that eliminates errors, reduces manual effort, and ensures smooth payroll processing without disputes or reworks.
                                </p>
                            </div>

                            <a href="payroll/" class="morebtn">More</a>
                        </div>

                        <div class="box">
                            <a runat="server" ID="accMangement" NavigateUrl="manage-account/" Target="_blank">
                    	<img srcset="images/accounting-mange.png" alt="Financial Accounting Management System" />
                            </a>

                            <div class="detail">
                                <img srcset="images/accounting-icon.png" alt="accounting"  style="padding:14px"/>
                                <h4>Smart Accounting Integration</h4>
                                <p>
                                    ProjexERP brings financial management under one roof, enabling real-time tracking and automated recording of transactions for accurate and efficient accounting.
                                </p>
                            </div>
                            <a href="manage-account/" class="morebtn">More</a>
                        </div>

                        <div class="box">
                            <a href="hrm/" target="_blank">
                                <img srcset="images/hrm-img.png" alt="Human Resource Management System" />
                            </a>

                            <div class="detail">
                                 <img srcset="images/hrm-icon.png" alt="hrm"  style="padding:14px"/>
                                <h4>HRM</h4>
                                <p>
                                    ProjexERP empowers organizations to streamline recruitment, onboarding, workforce management, and employee retention through a centralized HRM system.
                                </p>
                            </div>
                            <a href="hrm/" class="morebtn">More</a>
                        </div>

                        <div class="box">
                            <a runat="server" ID="salesOrd" NavigateUrl="sale-order-management/" Target="_blank">
                    	<img srcset="images/sales-img.png" alt="Sales Operations Control" />
                            </a>
                            <div class="detail">
                                 <img srcset="images/sale-icon.png" alt="sales-icon" />
                                <h4>Sales Operations Control</h4>
                                <p>
                                    ProjexERP simplifies and automates order booking, approvals, dispatch tracking, invoicing, and collections to keep your revenue flowing and customers satisfied.
                                </p>
                            </div>
                            <a href="sale-order-management/" class="morebtn">More</a>
                        </div>

                        <div class="box">
                            <a href="inventory-control-management/" target="_blank">
                                <img srcset="images/purchase-img.png" alt="inventory-control-mangement" />
                            </a>

                            <div class="detail">
                                <img srcset="images/stock-icon.png" alt="stock" />
                                <h4>Stock & Purchase Operations</h4>
                                <p>
                                    With ProjexERP, efficiently manage purchasing, supplier coordination, and inventory levels—ensuring accurate stock control and cost-effective procurement.
                                </p>
                            </div>
                            <a href="inventory-control-management/" class="morebtn">More</a>
                        </div>

                        <div class="box">
                            <a href="after-sale-service/" target="_blank">
                                <img srcset="images/aftersales-img.jpg" alt="After Sale Service" />
                            </a>

                            <div class="detail">
                                <img srcset="images/after-sale-icon.png" alt="after-sale" />
                                <h4>Sales-to-Service Integration</h4>
                                <p>
                                    Efficient after-sales management ensures strong customer relationships by aligning service operations with sales and support teams through a unified platform.
                                </p>
                            </div>
                            <a href="after-sale-service/" class="morebtn">More</a>
                        </div>

                        <div class="box">
                            <a href="crm/" target="_blank">
                                <img srcset="images/crm-img.png" alt="Customer Releationship Management" />
                            </a>

                            <div class="detail">
                                  <img srcset="images/crm-icon.png" alt="crm" />
                                <h4>CRM</h4>
                                <p>
                                    Manage prospects, automate follow-ups, track interactions, and generate insights—all within a single CRM system designed to reduce admin time and maximize sales performance.
                                </p>
                            </div>
                            <a href="crm/" class="morebtn">More</a>
                        </div>

                        <div class="box">
                            <a href="erp/" target="_blank">
                                <img srcset="images/mis-img.png" alt="Management Information System" />
                            </a>
                            <div class="detail">
                                 <img srcset="images/mis-icon.png" alt="mis" />
                                <h4>MIS</h4>
                                <p>
                                    MIS acts as the operational nerve center—collecting, analyzing, and reporting data from various sources to support informed and timely decision-making.
                                </p>
                            </div>
                            <a href="erp/" class="morebtn">More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
