<div class="banner-div" style="background: #ffe3bf">
  <img srcset="images/product-lock.png" alt="boost sale" width="320" />

  <div class="container">
    <div style="margin: 40px 0 0 5px">
      <h3
        class="h3 text-center visible animated bounceInUp full-visible text-tagline"
      >
        Boost Productivity with Smart ERP Integration
      </h3>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1
          class="visible animated bounceInUp full-visible"
          style="font-size: 42px; font-weight: 600"
        >
          Unlock Limitless Possibilities
        </h1>
        <div>
          <h2
            class="visible animated bounceInUp full-visible"
            style="max-width: 500px; margin: auto"
          >
            <small style="color: #000"
              >Revolutionize your sales operations with our advanced ERP
              solution—built to streamline processes, boost efficiency, and
              drive smarter, faster selling.</small
            >
          </h2>
        </div>
      </div>
    </div>
    <div class="text-center" style="margin: 10px 0 30px 0">
      <a href="javascript:void(0)">
        <button
          class="btn-success btn btn-lg"
          style="border-radius: 50px"
          type="button" (click)="scrollToKnowMore()"
        >
          Learn More
        </button>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Key Features Of Any ERP Solution</h2>
      <div class="col-lg-12 boxes post">
        <div class="box" #scrollBox>
          <h4>Financial Management</h4>
          <ul>
            <li>Accurate financial reporting and analysis</li>
            <li>Tax compliance and regulatory adherence</li>
            <li>Integrated accounting, banking, and payments</li>
            <li>Real-time insights into expenses, revenue, and cash flow</li>
            <li>Cost tracking, budgeting, and forecasting</li>
          </ul>
        </div>
        <div class="box" #scrollBox>
          <h4>Human Resource Management (HRM)</h4>
          <ul>
            <li>Performance tracking and KPI monitoring</li>
            <li>Time and attendance management</li>
            <li>Employee scheduling and leave tracking</li>
            <li>Recruitment and onboarding workflows</li>
            <li>Employee self-service portals</li>
          </ul>
        </div>
        <div class="box" #scrollBox>
          <h4>Payroll Management</h4>
          <ul>
            <li>Automated payroll processing</li>
            <li>Digital payslip generation and distribution</li>
            <li>Integration with attendance and leave systems</li>
            <li>Support for multi-country/multi-currency payroll</li>
            <li>Detailed audit trails and compliance reports</li>
          </ul>
        </div>
        <div class="box" #scrollBox>
          <h4>Customer Relationship Management (CRM)</h4>
          <ul>
            <li>Lead and opportunity tracking</li>
            <li>Centralized customer data</li>
            <li>Sales pipeline and contract management</li>
            <li>Invoicing and support ticket tracking</li>
            <li>Customer interaction analytics</li>
          </ul>
        </div>

        <div class="box" #scrollBox>
          <h4>Sales & Invoicing Management</h4>
          <ul>
            <li>Sales order and invoice management</li>
            <li>Automated billing and tax handling</li>
            <li>Discount and payment term configurations</li>
            <li>Sales trend analysis and reporting</li>
            <li>Integration with inventory and CRM</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="knowMore"
  style="background: #f3f3ef; margin-top: 30px; position: relative"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div style="margin: 25px 0 0 5px">
          <h3
            class="h3 text-center"
            style="
              width: max-content;
              margin: auto;
              border-radius: 50px;
              padding: 7px 43px;
              background: #428f3b;
              color: white;
            "
          >
            Be Part of the Future
          </h3>
        </div>
        <div style="margin: 10px 0 0 5px">
          <h1 class="text-center" style="max-width: 645px; margin: auto">
            Take Sales to the Next Level
          </h1>
        </div>
        <h2
          style="margin-bottom: 0px; color: black; color: #203400"
          class="text-center"
        >
          Effortless Interaction
        </h2>
        <h3 style="margin-top: 5px" class="text-center">
          <small style="color: #1a4a27"
            >ProjexERP offers a clean, intuitive interface that simplifies every
            task—empowering your team to work smarter, sell faster, and focus on
            results !</small
          >
        </h3>
        <h2
          style="margin-bottom: 0px; color: black; color: #203400"
          class="text-center"
        >
          Value-Driven Pricing
        </h2>
        <h3 style="margin-top: 5px" class="text-center">
          <small style="color: #1a4a27"
            >Get premium ERP features without premium costs. ProjexERP offers
            powerful tools at budget-friendly prices—perfect for smart,
            growth-focused businesses.</small
          >
        </h3>
        <h2
          style="margin-bottom: 0px; color: black; color: #203400"
          class="text-center"
        >
          Simple to Navigate
        </h2>
        <h3 style="margin-top: 5px" class="text-center">
          <small style="color: #1a4a27"
            >Simple to start, smart at scale – ERP made for all !</small
          >
        </h3>
      </div>
    </div>
  </div>
</div>
<div style="margin: 25px 0 50px 0; position: relative" id="showDetails">
  <div class="container">
    <div
      style="
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
      "
    >
      <div class="card showCase">
        <div>
          <div>
            <h4 style="color: #000; margin: 8px 0">Effortless Connectivity</h4>
          </div>
          <div>
            <p style="color: #000; margin: 0 0 8px; font-weight: 500">
              Effortlessly connect with your current systems and boost
              productivity to new heights!
            </p>
          </div>
        </div>
        <div>
          <a ID="HyperLink5" NavigateUrl="~/contactUs.aspx" runat="server">
            <button
              class="btn btn-lg morebtn"
              style="border-radius: 6px; background: white"
              type="button"
            >
              Discover More
            </button>
          </a>
        </div>
      </div>
      <div class="card showCase">
        <div>
          <div>
            <h4 style="color: #000; margin: 8px 0">Free of Charge</h4>
          </div>
          <div>
            <p style="color: #000; margin: 0 0 8px">
              Access premium features at an unbeatable price. Discover our
              software today!
            </p>
          </div>
        </div>
        <div>
          <a NavigateUrl="~/product/Planandpricing.aspx" runat="server">
            <button
              class="btn btn-lg morebtn"
              style="border-radius: 6px; background: white"
              type="button"
            >
              Discover More
            </button>
          </a>
        </div>
      </div>
      <div class="card showCase">
        <div>
          <div>
            <h4 style="color: #000; margin: 8px 0">24/7 Support</h4>
          </div>
          <div>
            <p style="color: #000; margin: 0 0 8px">
              Our dedicated support team is available 24/7 to assist you
              whenever you need it.
            </p>
          </div>
        </div>
        <div>
          <a ID="HyperLink2" NavigateUrl="~/contactUs.aspx" runat="server">
            <button
              class="btn btn-lg morebtn"
              style="border-radius: 6px; background: white"
              type="button"
            >
              Discover More
            </button>
          </a>
        </div>
      </div>
      <div class="card showCase">
        <div>
          <div>
            <h4 style="color: #000; margin: 8px 0">Accessible</h4>
          </div>
          <div>
            <p style="color: #000; margin: 0 0 8px">
              Tech skills not required! Enjoy easy, seamless software for
              everyone.
            </p>
          </div>
        </div>
        <div>
          <a ID="HyperLink3" NavigateUrl="~/contactUs.aspx" runat="server">
            <button
              class="btn btn-lg morebtn"
              style="border-radius: 6px; background: white"
              type="button"
            >
              Discover More
            </button>
          </a>
        </div>
      </div>
      <div class="card showCase">
        <div>
          <div>
            <h4 style="color: #000; margin: 8px 0">
              Fully Adjustable Solutions
            </h4>
          </div>
          <div>
            <p style="color: #000; margin: 0 0 8px">
              Customize our software to suit your business requirements. Maximum
              flexibility guaranteed!
            </p>
          </div>
        </div>
        <div>
          <a ID="HyperLink4" NavigateUrl="~/contactUs.aspx" runat="server">
            <button
              class="btn btn-lg morebtn"
              style="border-radius: 6px; background: white"
              type="button"
            >
              Discover More
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
