<div style="background: #ffe3bf; padding:20px">

    <div class="container" id="onlinePlans">
        <div class="row post  visible animated fadeInUp">
            <div class="col-lg-12">
                <!-- <%--<h3 class="text-center">Plans And Pricing</h3>--%> -->
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;display:none">
            <div class='tabs'>
                <span class="slide-bg"></span>
                <div class="tab">
       <table id="year">
                        <tbody>
                            <tr>
                                <td><input id="year_0" type="radio" name="year" value="1 Year " checked="checked"><label
                                        for="year_0" class="active">1 Year </label></td>
                            </tr>
                            <tr>
                                <td><input id="year_1" type="radio" name="year" value="3 Year"><label for="year_1">3
                                        Year</label></td>
                            </tr>
                            <tr>
                                <td><input id="year_2" type="radio" name="year" value="5 Year"><label for="year_2">5
                                        Year</label></td>
                            </tr>
                        </tbody>
                    </table>
                  
                </div>

            </div>
        </div>
        <div class="card-deck mb-3 text-center">

            <div class="card mb-4 box-shadow" id="oneYear3">
                <div class="card-header">

                    <h4 class="my-0 font-weight-normal">Main Features</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Free </h1>

                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>SALE, PURCHASE, ACCOUNTING & PAYROLL MODULE</b></li>
                        <li>PURCHASE ORDER & SALE ORDER</li>
                        <li>ALL PURCHASE & SALE RELATED REPORTS</li>
                        <li>E-WAY BILL</li>
                        <li>E-INVOICE & ETC</li>
                        <li>LOW STOCK STATUS</li>

                        <li>
                            <a NavigateUrl="~/product/feature.aspx?plan=Advance" ID="HyperLink11" runat="server">Know
                                More</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-success">Schedule Demo</button>

                </div>
            </div>
            <div class="card mb-4 box-shadow hidden" id="threeYear1">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Basic Plan</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">₹8,747 <small class="text-muted"
                            style="text-decoration: line-through">₹10,497</small></h1>

                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>SALE, PURCHASE & INVENTORY MODULE</b></li>
                        <li>PURCHASE ORDER</li>
                        <li>ALL PURCHASE RELATED REPORTS</li>
                        <li>GSTR REPORTS & ETC</li>
                        <li>PURCHASE ANALYSIS</li>
                        <li>PARTY WISE PURCHASE ANALYSIS</li>
                        <li>1 GST(Company) only </li>
                        <li>1 User only</li>
                        <li>
                            <a NavigateUrl="~/product/feature.aspx?plan=basic" ID="HyperLink3" runat="server">Know
                                More</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-success">Schedule Free Demo</button>
                    <a runat="server" ID="basicBuyOn3"
                        NavigateUrl="~/product/payoption.aspx?buyplan=basicOnline3"><button type="button"
                            class="btn btn-lg btn-block btn-danger mt-3">Buy Now</button></a>
                </div>


            </div>
            <div class="card mb-4 box-shadow hidden" id="threeYear2">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Pro Plan</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">₹11,373 <small class="text-muted"
                            style="text-decoration: line-through">₹13,647</small> </h1>

                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>SALE, PURCHASE, INVENTORY & FINANCIAL ACCOUNTING MODULE</b></li>
                        <li>SALE ORDER</li>
                        <li>ALL SALE RELATED REPORTS</li>
                        <li>ALL FINANCIAL ACCOUNTING</li>
                        <li>GSTR REPORTS & ETC</li>
                        <li>Additional GST(Company) &#64;6825</li>
                        <li>Additional User &#64;2727</li>
                        <li>
                            <a NavigateUrl="~/product/feature.aspx?plan=Pro" ID="HyperLink4" runat="server">Know
                                More</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-success">Schedule Free Demo</button>
                    <a runat="server" ID="paltinumBuyon3" NavigateUrl="~/product/payoption.aspx?buyplan=ProOnline3">
                        <button type="button" class="btn btn-lg btn-block btn-danger mt-3">Buy Now</button></a>
                </div>
            </div>
            <div class="card mb-4 box-shadow hidden" id="threeYear3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Advance Plan</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">₹13,997 <small class="text-muted"
                            style="text-decoration: line-through">₹16,797</small> </h1>

                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b><b>SALE, PURCHASE, ACCOUNTING & PAYROLL MODULE</b></b></li>
                        <li>PURCHASE ORDER & SALE ORDER</li>
                        <li>ALL PURCHASE & SALE RELATED REPORTS</li>
                        <li>E-WAY BILL</li>
                        <li>E-INVOICE & ETC</li>
                        <li>LOW STOCK STATUS</li>
                        <li>Additional GST(Company) &#64;8397</li>
                        <li>Additional User &#64;3357</li>
                        <li>
                            <a NavigateUrl="~/product/feature.aspx?plan=Advance" ID="HyperLink15" runat="server">Know
                                More</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-success">Schedule Free Demo</button>
                    <a runat="server" ID="HyperLink16" NavigateUrl="~/product/payoption.aspx?buyplan=ProOnline3">
                        <button type="button" class="btn btn-lg btn-block btn-danger mt-3">Buy Now</button></a>
                </div>
            </div>
            <div class="card mb-4 box-shadow hidden" id="fiveYear1">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Basic Plan</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">₹12,247 <small class="text-muted"
                            style="text-decoration: line-through">₹17,495</small></h1>


                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>SALE, PURCHASE & INVENTORY MODULE</b></li>
                        <li>PURCHASE ORDER</li>
                        <li>ALL PURCHASE RELATED REPORTS</li>
                        <li>GSTR REPORTS & ETC</li>
                        <li>PURCHASE ANALYSIS</li>
                        <li>PARTY WISE PURCHASE ANALYSIS</li>
                        <li>1 GST(Company) only</li>
                        <li>1 User only</li>
                        <li>
                            <a NavigateUrl="~/product/feature.aspx?plan=basic" ID="HyperLink6" runat="server">Know
                                More</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-success">Schedule Free Demo</button>
                    <a runat="server" ID="basicBuyon5"
                        NavigateUrl="~/product/payoption.aspx?buyplan=basicOnline5"><button type="button"
                            class="btn btn-lg btn-block btn-danger mt-3">Buy Now</button></a>
                </div>
            </div>
            <div class="card mb-4 box-shadow hidden" id="fiveYear2">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Pro Plan</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">₹15,921 <small class="text-muted"
                            style="text-decoration: line-through">₹22,745</small> </h1>

                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>SALE, PURCHASE, INVENTORY & FINANCIAL ACCOUNTING MODULE</b></li>
                        <li>SALE ORDER</li>
                        <li>ALL SALE RELATED REPORTS</li>
                        <li>ALL FINANCIAL ACCOUNTING</li>
                        <li>GSTR REPORTS & ETC</li>
                        <li>Additional GST(Company) &#64;11375</li>
                        <li>Additional User &#64;4545</li>
                        <li>
                            <a NavigateUrl="~/product/feature.aspx?plan=Pro" ID="HyperLink7" runat="server">Know
                                More</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-success">Schedule Free Demo</button>
                    <a runat="server" ID="ProBuyOn5" NavigateUrl="~/product/payoption.aspx?buyplan=ProOnline5"><button
                            type="button" class="btn btn-lg btn-block btn-danger mt-3">Buy Now</button></a>
                </div>
            </div>
            <div class="card mb-4 box-shadow hidden" id="fiveYear3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Advance Plan</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">₹19,597 <small class="text-muted"
                            style="text-decoration: line-through">₹27,995</small> </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>SALE, PURCHASE, ACCOUNTING & PAYROLL MODULE</b></li>
                        <li>PURCHASE ORDER & SALE ORDER</li>
                        <li>ALL PURCHASE & SALE RELATED REPORTS</li>
                        <li>E-WAY BILL</li>
                        <li>E-INVOICE & ETC</li>
                        <li>LOW STOCK STATUS</li>
                        <li>Additional GST(Company) &#64;13995</li>
                        <li>Additional User &#64;5595</li>
                        <li>
                            <a NavigateUrl="~/product/feature.aspx?plan=Advance" ID="HyperLink13" runat="server">Know
                                More</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-success">Schedule Free Demo</button>
                    <a runat="server" ID="HyperLink14" NavigateUrl="~/product/payoption.aspx?buyplan=ProOnline5"><button
                            type="button" class="btn btn-lg btn-block btn-danger mt-3">Buy Now</button></a>
                </div>
            </div>
        </div>
    </div>
</div>